

<!--<h1>My name is {{ name }}</h1>-->
<!--<h2>This is not me</h2>-->
<!--<p>{{ today }}</p>-->

<!--&lt;!&ndash; user interaction &ndash;&gt;-->
<!--<button (click)="btnClicked()">Click</button>-->
<!--<button (click)="btnInit()">Init</button>-->
<!--<button (click)="btnTest()">Test</button>-->

<!--<button (click)="name='new'">ChangeName</button>-->
<!--<button (click)="btnNew(name)">NewTest</button>-->
<!--<p>counter : {{ counter }}</p>-->

<!--&lt;!&ndash; two way data binding &ndash;&gt;-->
<!--&lt;!&ndash; we should import FormModule in this component &ndash;&gt;-->
<!--<input type="text" [(ngModel)]="name" />-->


<!--&lt;!&ndash; directive &ndash;&gt;-->
<!--<h1 *ngIf="counter > 2">-->
<!--  my name is {{ name }}-->
<!--</h1>-->

<!--<h1 *ngIf="counter <= 2">-->
<!--  Increase counter first-->
<!--</h1>-->

<!--<div style="text-align: center">-->
<!--  <div *ngFor="let person of people">-->
<!--    <h3 *ngIf="person.age > 30">-->
<!--      {{ person.name }} is {{ person.age }} years old.-->
<!--    </h3>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash; style &ndash;&gt;-->

<!--<div style="text-align: center">-->
<!--  <div *ngFor="let person of people">-->
<!--&lt;!&ndash;    <h3 [ngStyle]="{'background-color': 'green'}" *ngIf="person.age > 30">&ndash;&gt;-->
<!--    <h3 [ngStyle]="{'background-color': mycolor}" *ngIf="person.age > 30">-->
<!--      {{ person.name }} is {{ person.age }} years old.-->
<!--    </h3>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="text-align: center">-->
<!--  <div *ngFor="let person of people">-->
<!--&lt;!&ndash;    <h3 [ngClass]="{'red': true}" >&ndash;&gt;-->
<!--    <h3 [ngClass]="{'red': person.age < 50}" >-->
<!--      {{ person.name }} be {{ person.age }} years old.-->
<!--    </h3>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash; service &ndash;&gt;-->

<!--&lt;!&ndash; pipe &ndash;&gt;-->

<!--<h1>-->
<!--  my name is {{ name | uppercase}}-->
<!--</h1>-->

<!--<h1>-->
<!--  my name is {{ name | lowercase}}-->
<!--</h1>-->

<!--<h1>-->
<!--  my name is {{ name }}-->
<!--</h1>-->

<!--<h3> {{ today | date }} </h3>-->
<!--<h3> {{ today | date:"short" }} </h3>-->
<!--<h3> {{ today | date:"long" }} </h3>-->
<!--<h3> {{ today | date:"full" }} </h3>-->
<!--<h3> {{ today | date:"fullDate" }} </h3>-->
<!--<h3> {{ today | date:"dd/MM/yyyy:H:m:s" }} </h3>-->


<!--<h3> {{ cash | currency }} </h3>-->
<!--<h3> {{ cash | currency: "EUR" }} </h3>-->


<!--&lt;!&ndash; routing &ndash;&gt;-->

<div style="text-align: center">
  <h1>header</h1>
  <nav>
    <a routerLink="first">First</a><br>
    <a routerLink="sec">Second</a><br>
    <a routerLink="sec/5">Second-detail</a>
  </nav>
</div>


<router-outlet></router-outlet>

<!-- url prams -->
<div style="text-align: center">
  <h1>bottom</h1>
</div>
